body {  
    background: lightseagreen;
  }
  
   /* Header/Blog Title  */
  .header {
    padding:40px ;
    font-size: 40px;
    text-align: center;
    
  }
  
   /* Create two unequal columns that floats next to each other  */
   /* Left column  */
  .leftcolumn {
    float: left;
    width: 50%;
  }
  
   /* Right column  */
  .rightcolumn {
    float: right;
    width:25% ;
    padding: 160px;
  }
  
   /* Fake image  */
  .fakeimg {
    background-color: darkslategray;
    width: 100%;
    padding: 20px;
  }
  
   /* Add a card effect for articles  */
  .card {
    background-color: slateblue;
    padding: 20px;
    margin-top: 20px;
  }
  
   /* Clear floats after the columns  */
  .row:after {
    content: " ";
    display: table;
    clear: both;
  }
  

  
  